// fonts

@import url('https://rsms.me/inter/inter.css');

// tailwind

@tailwind base;
@tailwind components;
@tailwind utilities;

// global

body {
  @apply bg-white text-black font-body cursor-default outline-none;
}

a {
  @apply text-indigo-600 duration-200 outline-none;

  &:hover {
    filter: brightness(1.1);
  }

  &:active {
    filter: brightness(0.9);
  }
}

button,
button:focus {
  @apply outline-none;
}

table {
  @apply w-full rounded-lg overflow-hidden shadow-sm;

  td,
  th {
    @apply p-4;
  }

  thead {
    tr {
      th:not(:first-child) {
        @apply border-l border-black border-opacity-5;
      }
    }
  }

  tbody {
    tr {
      @apply border-t border-black border-opacity-5;

      td:not(:first-child) {
        @apply border-l border-black border-opacity-5;
      }
    }
  }

  tfoot {
    tr {
      @apply border-t border-black border-opacity-5;

      th:not(:first-child) {
        @apply border-l border-black border-opacity-5;
      }
    }
  }
}
